.home-section {
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.begin-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}